#ext_scrolltop {
	display: block !important;
}

#ext_back {
	display: block !important;
}

#ext_search {
	display: block !important;
}


#ext_whitelist {
	display: block !important;
}


#ext_nav_faves {
	display: block !important;
}

.ext_comments_for_me_indicator {
	display: block !important;
}

#ext_message_center_wrapper {
	display: table-row !important;
}