body {
	background-color: #999;
}

#wrapper {
	width: 900px;
	height: 90%;
	margin: 5% auto;
	background-color: #FFF;
	box-shadow: #666 0px 0px 10px;
}

#left {
	width: 189px;
	height: 100%;
	margin-right: 10px;
	float: left;
	border-right: 1px solid #999;
}

#right {
	width: 690px;
	height: 100%;
	padding-right: 10px;
	float: right;
}

#left ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

#left ul li {
	height: 30px;
	padding-left: 10px;
	font: normal normal bold 14px/30px Arial, serif;
	color: #000;
	cursor: pointer;
}

#left ul li.active {
	
	background-image: -o-linear-gradient(rgb(0,86,147),rgb(63,174,254));
	color: #FFF;
}

#right > div {
	display: none;
}

#right > div > div {
	position: relative;
	padding: 10px 120px 10px 0px;
	border-bottom: 1px solid #ddd;
	text-align: justify;
}

#right > div > div:last-child {
	border: 0px;
}

#right h3 {
	margin: 0px;
	padding: 0px;
	font: normal normal bold 14px/16px Arial, serif;
	color: #333;
}

#right p {
	margin: 0px;
	margin-top: 5px;
	font: normal normal normal 12px/14px Arial, serif;
	color: #999;
}

#right .button {
	width: 100px;
	height: 25px;
	position: absolute;
	top: 10px;
	right: 0px;
	overflow: hidden;
	cursor: pointer;
	border-radius: 5px;
	background-image: url(../img/handler.png); 
}

#right .button.on {
	background-position: 0px 0px;
}

#right .button.off {
	background-position: -70px 0px; 
}

#right p.sub {
	margin-left: 20px;
}

#blocklist {
	font: normal normal normal 14px/18px Arial, serif;
	color: #333;
	list-style-type: square;
}

#blocklist a {
	font: normal normal normal 14px/18px Arial, serif;
	color: #999;
	text-decoration: none;
}