/* Display none to hidden faves (without unreaded messages) */
.ext_hidden_fave {
	display: none;
}

.b-h-o-head {
	position: relative;
}

#ext_left_sidebar #ext_show_filtered_faves {
	width: 18px;
 	position: absolute;
 	right: 0px;
 	top: 0px;
 	background-image: -webkit-linear-gradient(top, #fbd859, #f5b85e);
 	border-top-right-radius: 2px;
 	cursor: pointer;
}

#ext_right_sidebar #ext_show_filtered_faves {
	width: 18px;
 	position: absolute;
 	right: 0px;
 	top: 0px;
 	background-image: -webkit-linear-gradient(top, #4b90f4, #8ab8f8);
 	border-top-right-radius: 2px;
 	cursor: pointer;
}

#ext_show_filtered_faves_arrow {
	width: 0px;
    height: 0px; 	
	display: block;
}	

#ext_left_sidebar #ext_show_filtered_faves_arrow.show {
	margin: 5px 6px 5px 7px;
	border-color: transparent transparent transparent #fff;
	border-style: solid;
	border-width: 4px;
}

#ext_left_sidebar #ext_show_filtered_faves_arrow.hide {
	margin:6px 8px 3px 5px;
	border-color: #fff transparent transparent transparent;
	border-style: solid;
	border-width: 4px;	
}

#ext_right_sidebar #ext_show_filtered_faves_arrow.show {
	margin: 5px 6px 5px 7px;
	border-color: transparent transparent transparent #fff;
	border-style: solid;
	border-width: 4px;
}

#ext_right_sidebar #ext_show_filtered_faves_arrow.hide {
	margin:6px 8px 3px 5px;
	border-color: #fff transparent transparent transparent;
	border-style: solid;
	border-width: 4px;	
}

#ext_filtered_faves_error {
	color: #333;
	font-size: 13px;
	text-align: center;
}

/* Refresh faves */

#ext_left_sidebar #ext_refresh_faves {
	width: 18px;
	height: 18px;
 	position: absolute;
 	right: 0px;
 	top: 0px;
 	background-image: -webkit-linear-gradient(top, #fbd859, #f5b85e);
 	cursor: pointer;
}

#ext_right_sidebar #ext_refresh_faves {
	width: 18px;
	height: 18px;
 	position: absolute;
 	right: 0px;
 	top: 0px;
 	background-image: -webkit-linear-gradient(top, #4b90f4, #8ab8f8);
 	cursor: pointer;
}

/* Make readed all faves */

#ext_left_sidebar #ext_read_faves {
	width: 18px;
	height: 18px;
 	position: absolute;
 	right: 18px;
 	top: 0px;
 	background-image: -webkit-linear-gradient(top, #fbd859, #f5b85e);
 	border-top-left-radius: 2px;
 	cursor: pointer;
}

#ext_right_sidebar #ext_read_faves {
	width: 18px;
	height: 18px;
 	position: absolute;
 	right: 18px;
 	top: 0px;
 	background-image: -webkit-linear-gradient(top, #4b90f4, #8ab8f8);
 	border-top-left-radius: 2px;
 	cursor: pointer;
}

/* General style settings */

#ext_unreaded_hr {
	margin-top: 20px;
	border: 1px solid red;
}

.ext_unreaded_hr {
	margin-top: 20px;
	border: 1px solid red;
}

/* autopager */
.ext_autopager_idicator {
	
	margin: 15px 15px 0px 15px;
	background-color: #666;
	color: white;
	text-align: center;
	font: normal normal bold 16px/24px Arial, sans;
	border-radius: 5px;
}

/* navigation buttons */
#ext_scrolltop {
	width: 26px;
	height: 26px;
	position: fixed;
	bottom: 208px;
	left: 10px;
	background-color: #bbb;
	border-radius: 5px;
	font: normal normal normal 14px/26px Arial;
	cursor: pointer;
	opacity: 0.6;
	z-index: 90;
}

#ext_back {
	width: 26px;
	height: 26px;
	position: fixed;
	bottom: 172px;
	left: 10px;
	background-color: #bbb;
	border-radius: 5px;
	font: normal normal normal 14px/26px Arial;
	cursor: pointer;
	opacity: 0.6;
	z-index: 90;
}

#ext_search {
	width: 26px;
	height: 26px;
	position: fixed;
	bottom: 136px;
	left: 10px;
	background-color: #bbb;
	border-radius: 5px;
	font: normal normal normal 14px/26px Arial;
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.6;
	z-index: 90;
}

#ext_overlay_search {
	display: none;
	width: 300px;
	height: 40px;
	padding: 10px !important;
	position: fixed;
	bottom: 119px;
	left: 50px;
	font: normal normal bold 12px/14px Arial, serif;
	background-color: #c0c0c0;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: #666 0px 0px 3px;
	box-shadow: #666 0px 0px 3px;
	z-index: 90;
}

#ext_overlay_search input:nth-child(1) {
	width: 225px;
}

#ext_overlay_search_arrow {
	display: none;
	position: fixed;
	bottom: 19px;
	left: -20px;
	border-color: transparent #c0c0c0 transparent transparent;
	border-style: solid;
	border-width: 10px;
	z-index: 90;
}

#ext_whitelist {
	width: 26px;
	height: 26px;
	position: fixed;
	bottom: 100px;
	left: 10px;
	background-color: #bbb;
	border-radius: 5px;
	font: normal normal normal 14px/26px Arial;
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: center center;
	font: normal normal bold 16px/26px Arial, serif;
	opacity: 0.6;
	z-index: 90;
}

#ext_nav_faves {
	width: 26px;
	height: 26px;
	position: fixed;
	bottom: 64px;
	left: 10px;
	background-color: #bbb;
	border-radius: 5px;
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.6;
	z-index: 90;
}

#ext_nav_faves_wrapper {
	width: 200px;
	display: none;
	padding: 10px;
	position: fixed;
	bottom: 50px;
	left: 50px;
	background-color: #c0c0c0;
	border-radius: 5px;
	z-index: 90;
	text-align:left;
}

#ext_nav_faves_wrapper .ext_faves h5 {
	margin: 0px;
	padding: 0px;
	font: normal normal bold 12px/12px Arial, serif;
	text-align: center;
	color: #333;
}

#ext_nav_faves_wrapper .ext_nav_fave_list {
	margin-top: 10px;
	min-height: 27px;
	max-height: 500px;
	overflow-y: auto;
}

#ext_nav_faves_arrow {
	display: none;
	position: fixed;
	bottom: 65px;
	left: 30px;
	border-color: transparent #c0c0c0 transparent transparent;
	border-style: solid;
	border-width: 10px;
	z-index: 90;
}

#ext_nav_faves_wrapper div:last-child .cikk-bal-etc2 {
	background: none !important;
}

#ext_nav_faves_wrapper #ext_show_filtered_faves {
	width: 18px;
 	position: absolute;
 	right: 0px;
 	top: 0px;
 	border-top-right-radius: 2px;
 	cursor: pointer;
}

#ext_show_filtered_faves_arrow {
	width: 0px;
    height: 0px; 	
	display: block;
}	

#ext_nav_faves_wrapper #ext_show_filtered_faves_arrow.show {
	margin: 5px 6px 5px 7px;
	border-color: transparent transparent transparent #fff;
	border-style: solid;
	border-width: 4px;
}

#ext_nav_faves_wrapper #ext_show_filtered_faves_arrow.hide {
	margin:6px 8px 3px 5px;
	border-color: #fff transparent transparent transparent;
	border-style: solid;
	border-width: 4px;	
}


/* Overlay commentbox */
.ext_hidden_layer {
	width: 100%;
	height: 100%;
	position: fixed;
	opacity: 0.9;
	background-color: #999;
	z-index: 50;
}

.ext_highlighted_comment {
	position: absolute !important;
	z-index: 51;
}

.ext_clone_textarea.topic {
	width: 810px;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 52;
	text-align: center;
	border: 0px !important;
	background: none !important;
}

.ext_clone_textarea.article {
	width: 700px;
	padding: 0px !important;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 52;
	text-align: center;
	border: 0px !important;
	background: none !important;
}

.ext_clone_textarea.topic textarea {
	width: 799px !important;
	padding: 5px;
}

.ext_clone_textarea.article textarea {
	width: 689px !important;
	height: 100px;
	padding: 5px;
}

.ext_clone_textarea.topic #ext_clone_textarea_shadow {
	width: 809px !important;
	box-shadow: #333 0px 0px 10px;
}

.ext_clone_textarea.article #ext_clone_textarea_shadow {
	width: 700px !important;
	box-shadow: #333 0px 0px 10px;
}

.ext_clone_textarea .cleditorMain {
	-webkit-box-shadow: #333 0px 0px 10px;
}

.cleditorMain {
	margin: 0px auto !important;
}


.ext_overlay_close {
	width: 16px;
	height: 16px;
	position: absolute;
	top: 14px;
	right: 6px;
	cursor: pointer;
	z-index: 100;
}

/* Comments for me indicator */
.ext_comments_for_me_indicator.article {
	width: 12px;
	height: 12px;
	position: absolute;
	top: 20px;
	left: -15px;
}

.ext_comments_for_me_indicator.topic {
	width: 12px;
	height: 12px;
	position: absolute;
	top: 20px;
	left: 0px;
}

/* Threaded comments */
.thread_prev, .thread_next {
	cursor: pointer;
}

/* mentioned comments */
.ext_mentioned {
	color: blue;
	cursor: pointer;
}

/* BLOCKS */

#ext_right_sidebar {
	width: 172px !important;
}

#ext_left_sidebar .ext_block {
	padding-left: 5px !important;
	padding-bottom: 10px;
}

#ext_right_sidebar .ext_block {
	width: 160px !important;
	padding-left: 10px !important;
	padding-bottom: 10px;
}

.hasab-head-b {
	padding-top: 0px !important;
}

.hasab-head-o {
	padding-top: 0px !important;
}

.ext_block {
	position: relative;
	text-align: left !important;
}

.ext_blocks_buttons {
	width: 100%;
	height: 20px;
	display: none;
	position: absolute;
	top: -20px;
	left: 0px;

	z-index: 99;
}

.ext_block:hover p {
	display: block;
}

.ext_block_button_left {
	float: left;
}

.ext_block_button_right {
	float: right;
}

/* Thickbox fix */
#TB_window {
	z-index: 9999 !important;
}

/* WYSIWYG editor smile list */
#ext_smiles {
	width: 600px;
	display: none;
	text-align: left;
}

.ext_smiles_block {
	width: 275px;
	height: 90px;
	float: left;
}

.ext_smiles_block.left {
	margin-right: 50px;
}


.ext_smiles_block h3 {
	font: normal normal normal 14px/16px Arial, serif;
	color: #999;
	margin: 0px;
	padding: 0px;
}

/* MESSAGE CENTER */

.ext_mc_tabs {
	float: left;
	cursor: pointer;
}

.ext_mc_tabs:nth-child(3) {
	width: 200px
}

.ext_mc_pages {
	width: 480px;
	display: none;
	overflow-y: auto;
}

.ext_mc_pages h3 {
	font: normal normal normal 16px/20px Arial, serif;
	text-align: center;
	color: #999;
}

.ext_mc_messages {
	margin-top: 30px;
	padding: 10px;
	position: relative;
	background-color: #ddd;
	border-radius: 5px;
	text-align: left;
}

.ext_mc_messages img {
	max-width: 400px;
}

.ext_mc_messages.ident {
	margin-left: 20px;
	background-color: #eee;
}

.ext_mc_messages p {
	position: absolute;
	top: -20px;
	left: 10px;
	color: #666;
	font: normal normal bold 12px/16px Arial, serif;
	text-decoration: none;
}

.ext_mc_messages p a.ext_mc_jump_to {
	margin-left: 10px;
	font: normal normal normal 12px/16px Arial, serif;
	text-decoration: none;
	color: #999;
}

.ext_mc_messages a {
	color: #666;
	font: normal normal bold 12px/16px Arial, serif;
	text-decoration: none;
}

.ext_mc_messages span {
	position: absolute;
	top: -20px;
	right: 10px;
	font: normal normal normal 12px/16px Arial, serif;
	color: #999;
}

.ext_mc_messages div {
	font: normal normal normal 12px/16px Arial, serif;
	color: #333;
}

/* SPOILERS */
.ext_spoiler {
	margin: 5px;
	border: 1px solid #ddd;
}

.ext_spoiler a {
	margin-left: 10px;
	font: normal normal normal 13px/16px Arial, serif !important;
	color: #666 !important;
	text-decoration: none !important;
}

.ext_spoiler div {
	padding: 5px;
	display: none;
}

/* Auto-resize textarea */
textarea[name="message"] {
	width: 600px;
	font: normal normal normal 12px/14px Arial, serif;
	padding: 5px;
}

#ext_textheight {
	width: 600px;
	padding: 5px;
	display: none;
	border: 1px solid black;
	font: normal normal normal 12px/14px Arial, serif;
	text-align: left;
}

/* DROPDOWNS */
.ext_dropdown {
	display: inline-block;
	width: 20px;
	text-align: center;
	cursor: pointer;
}

.ext_dropdown ul {
	display: none;
	width: 200px;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	position: absolute;
	top: 20px;
	right: 0px;
	z-index: 100;
	border: 2px solid #666;
	border-top: 0px;
	background-color: #f0f0f0;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	text-align: left;
}

.ext_dropdown ul li {
	padding-left: 5px;
	cursor: pointer;
	color: #fff;
	font: normal normal normal 12px/16px Arial, serif;
}

.ext_dropdown ul li.ident {
	padding-left: 15px;
}

.ext_dropdown ul li:last-child {
	padding-bottom: 10px;
}

.ext_dropdown ul h3 {
	margin: 0px;
	padding: 5px;
	font: normal normal bold 13px/16px Arial, serif;
	text-shadow: 1px 1px 1px #333;
	color: #fff;
	text-align: center;
}

.ext_dropdown ul hr {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #e0e0e0;
}
