<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" id="http://kreaturamedia.com/" version="1.1.0">

		<name>SG Forum Plus</name>
		
		<description>This extension is made for a popular Hungarian website, sg.hu.</description>

		<author href="http://kreaturamedia.com" email="gerajanos@kreaturamedia.com">Janos Gera</author>
		
		<license href="http://www.opensource.org/licenses/mit-license.php">Licensed under the MIT license</license>
		
		<icon src="img/icons/logo.png"/>
		
		<content src="index.html" type="text/html" encoding="utf-8"/>
		
		<access origin="http://www.sg.hu" subdomains="true"/>
</widget>