<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" id="http://kreaturamedia.com/" version="2.5.0">

		<name>SG Fórum+</name>
		
		<description>Az SG.hu nemhivatalos Opera bővítménye</description>

		<author href="http://kreaturamedia.com" email="gerajanos@kreaturamedia.com">Gera János</author>
		
		<license href="http://www.opensource.org/licenses/mit-license.php">Licensed under the MIT license</license>
		
		<icon src="img/icons/logo.png"/>
		
		<content src="index.html" type="text/html" encoding="utf-8"/>
		
		<access origin="*" subdomains="true"/>
</widget>