#ext_settings_button {

	width: 32px;
	height: 32px;
	position: fixed;
	top: 10px;
	right: 10px;
	cursor: pointer;
	z-index: 11;
}

#ext_settings_hide_overlay {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	background-color: #666;
	display: none;
	z-index: 90;
}

#ext_settings_wrapper {

	width: 900px;
	position: fixed;
	top: -9000px;
	left: 0px;

	z-index: 100;

	background-color: #ededed;
	-webkit-box-shadow: #333 0px 0px 15px;
	overflow: hidden;
	border: 1px solid #6c6c6c;
	border-radius: 4px;
}

#ext_settings_header {
	height: 65px;
	padding: 0px;
	margin: 0px;
	padding-left: 10px;
	border-bottom: 1px solid #6c6c6c;
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.21, rgb(179,179,179)),
		color-stop(0.61, rgb(231,231,231))
	);
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

#ext_settings_header li {
	width: 75px;
	height: 20px;
	float: left;
	padding-top: 45px;
	list-style: none;
	text-align: center;
	font: normal normal normal 12px/20px Arial, serif;
	color: #444;
	text-shadow: #ccc 1px 1px 1px;
	cursor: pointer;
}

#ext_settings_header li.on {
	color: #333;
}

#ext_settings_header li.clear {
	width: 0px;
	height: 0px;
	float: none !important;
	clear: both;
}

.settings_page {
	max-height: 500px;
	overflow-y: auto;
	display: none;
	padding: 20px;
	text-align: justify;
}

#ext_settings_header li:nth-child(1) {
	background-position: 0px 0px;
}

#ext_settings_header li:nth-child(2) {
	background-position: -75px 0px;
}

#ext_settings_header li:nth-child(3) {
	background-position: -150px 0px;
}

#ext_settings_header li:nth-child(4) {
	background-position: -225px 0px;
}

#ext_settings_header li:nth-child(5) {
	background-position: -300px 0px;
}

#ext_settings_header li:nth-child(6) {
	background-position: -375px 0px;
}

#ext_settings_header li:nth-child(7) {
	background-position: -450px 0px;
}

#ext_settings_header li:nth-child(8) {
	background-position: -525px 0px;
}

#ext_settings_header li:nth-child(1).on {
	background-position: 0px -75px;
}

#ext_settings_header li:nth-child(2).on {
	background-position: -75px -75px;
}

#ext_settings_header li:nth-child(3).on {
	background-position: -150px -75px;
}

#ext_settings_header li:nth-child(4).on {
	background-position: -225px -75px;
}

#ext_settings_header li:nth-child(5).on {
	background-position: -300px -75px;
}

#ext_settings_header li:nth-child(6).on {
	background-position: -375px -75px;
}

#ext_settings_header li:nth-child(7).on {
	background-position: -450px -75px;
}

#ext_settings_header li:nth-child(8).on {
	background-position: -525px -75px;
}

/* ABOUT */
.settings_page a {
	font: normal normal normal 12px/14px Arial, serif;
	color: #999;
}

/* SETTINGS PANE ELEMENTS */

.settings_page > div {
	position: relative;
	padding: 0px 120px 15px 0px;
	border-bottom: 1px solid #ddd;
	margin-bottom: 15px;
	text-align: justify;
}

.settings_page > div:last-child {
	border: 0px;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.settings_page h3 {
	margin: 0px;
	padding: 0px;
	font: normal normal bold 13px/normal Arial, serif;
	color: #000;
}

.settings_page p {
	margin: 0px;
	margin-top: 5px;
	font: normal normal normal 12px/normal Arial, serif;
	color: #333;
}

.settings_page .button {
	width: 60px;
	height: 20px;
	position: absolute;
	top: 10px;
	right: 0px;
	overflow: hidden;
	cursor: pointer;
	border: 1px solid #999;
	border-radius: 10px;
}

.settings_page .button.on {
	background-position-x: -40px;
}

.settings_page .button.off {
	background-position-x: 0px; 
}

.settings_page p.sub {
}

.settings_page .profiles  {
	margin: 0px;
	padding: 0px;
}

.settings_page .profiles li {
	list-style-type: none;
	height: 100px;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 5px;
	box-shadow: 0px 0px 5px #ddd;
	margin-bottom: 10px;
	position: relative;
}

.settings_page .profiles li.sample {
	display: none;
}

.settings_page .profiles li span {
	display: block;
	width: 20px;
	height: 20px;
	float: left;
	border-radius: 5px;
}

.settings_page .profiles li input {
	float: left;
	width: 200px;
	height: 16px;
	margin: 0px;
	padding: 2px;
	margin-left: 10px;
	margin-bottom: 10px;
	border: 0px;
	border-radius: 5px;
}

.settings_page .profiles li ul {
	float: left;
	padding: 0px;
}

.settings_page .profiles li ul li {
	padding: 0px;
	list-style-type: none;
	width: 20px;
	height: 20px;
	float: left;
	margin-left: 10px;
}

.settings_page .profiles li ul span {
	display: none;
}

.settings_page a.new_profile {
	display: inline-block;
}

.settings_page .profiles li textarea {
	display: block;
	width: 832px;
	height: 40px;
	border: 0px;
	border-radius: 5px;
}

.settings_page .profiles li p.options {
	margin-top: 10px !important;
	
}

.settings_page .profiles li .background {
	width: auto !important;
	height: auto !important;
	float: none !important;
	
}

.settings_page .profiles li .remove {
	position: absolute;
	display: inline-block;
	top: 10px;
	right: 10px;
	font: normal normal normal 12px/20px Arial, serif !important;
	color: #666 !important;
	text-align: center;
}

.settings_page .profile_save {
	width: 200px;
	height: 20px;
	padding: 0px;
	margin: 0px;
	margin-right: 10px;
	border-radius: 3px;
	border: 1px solid #AAA;
	box-shadow: 1px 1px 3px #aaa;
	background-image: -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
	font: normal normal normal 12px/20px Arial, serif;
	cursor: pointer;
}

.settings_page .profile_status {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: 0px;
	margin-right: 10px;
	border-radius: 10px;
	background-color: #22e618;
	color: #fff;
	text-align: center;
	font: normal normal bold 14px/20px Arial, serif;
}

#blocklist {
	font: normal normal normal 14px/18px Arial, serif;
	color: #333;
	list-style-type: square;
}

#blocklist a {
	font: normal normal normal 14px/18px Arial, serif;
	color: #999;
	text-decoration: none;
}

/* SYNC */

.settings_page .set {
	display: none;
}

.settings_page.sync .signup, .settings_page.sync .login {
	width: 100%;
	padding-right: 0px;
}


.settings_page.sync h3 {
	font: normal normal normal 16px/20px Arial, serif;
	margin-bottom: 10px;
	color: #555;
}

.settings_page.sync p {
	width: 500px;
	text-align: justify;
	margin:0px;
	margin-bottom: 10px;
}

.settings_page.sync .status {
	display: inline-block;
}

.settings_page.sync input {
	width: 196px;
	height: 16px;
	padding: 2px;
	margin-right: 10px;
	border: 1px solid #AAA;
	border-radius: 5px;
	font: normal normal normal 12px/16px Arial, serif;
}

.settings_page.sync button {
	width: 100px;
	height: 20px;
	padding: 0px;
	margin: 0px;
	border-radius: 3px;
	border: 1px solid #AAA;
	box-shadow: 1px 1px 3px #aaa;
	background-image: -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
	font: normal normal normal 12px/20px Arial, serif;
	cursor: pointer;
}

.settings_page.sync .loggedin {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: 0px 10px;
	border-radius: 10px;
	background-color: #22e618;
	color: #fff;
	text-align: center;
	font: normal normal bold 14px/20px Arial, serif;
}

.settings_page.sync .loggedin.error {
	background-color: #de1919;
}

.settings_page.sync strong {
	display: inline-block;
	height: 20px;
	font: normal normal bold 13px/20px Arial, serif;
}

.settings_page.sync span {
	display: inline-block;
	height: 20px;
	margin: 0px 10px;
	font: normal normal normal 14px/20px Arial, serif;
}

.settings_page.sync button {
	width: 150px;
}

/* DEBUGGER */
.settings_page.debugger textarea {

	width: 840px;
	height: 380px;
	margin: 0px;
	padding: 10px;
	border: 0px;
	border-radius: 5px;
}

.settings_page.debugger button {
	width: 100px;
	height: 20px;
	padding: 0px;
	margin: 0px;
	margin-top: 10px;
	border-radius: 3px;
	border: 1px solid #AAA;
	box-shadow: 1px 1px 3px #aaa;
	background-image: -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
	font: normal normal normal 12px/20px Arial, serif;
	cursor: pointer;
}